h1 {
  font-family: "Roboto Condensed", sans-serif;
  color: #152039;
  background-color: #bcd3dd;
  text-align: center;
}

h3 {
  color: #ffffff;
  background-color: #152039;
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

p {
  color: #060a12;
  font-family: "Montserrat", sans-serif;
}

/* centers the image on the page */
div {
  text-align: center;
}

/* adds border to image */
img {
  border: 10px solid #bcd3dd;
}

/* remove bullet point icons from list items */
ul {
  list-style-type: none;
}

/* this css styles the calendar table */
table,
th,
td {
  border: 1px solid;
  border-color: #ffffff;
  text-align: center;
  padding: 2px;
  font-family: "Montserrat", sans-serif;
}

th {
  background-color: #bcd3dd;
}

td {
  color: #ffffff;
}

table {
  background-color: #152039;
}

/* centers the table in the middle of the page */
.center {
  margin-left: auto;
  margin-right: auto;
}

.navigation {
  /* flexbox styles */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  list-style: none;
  margin: 0;
  background: #152039;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

.navigation a:hover {
  background: #bcd3dd;
}

.recipe-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 300px auto;
}

.recipe-sidebar-list {
  padding: 0;
  margin: 0;
}

.recipe-sidebar-title {
  color: #152039;
  background-color: #bcd3dd;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  text-align: "left";
  padding: 5px 10px 5px 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.recipe-sidebar-item {
  background-color: #bcd3dd;
  text-align: "left";
  padding: 5px 10px 5px 10px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  padding: 0;
}

.recipe-sidebar-item:first-child {
  border-top: 1px solid white;
}

.recipe-sidebar-item:hover {
  background-color: #152039;
  color: white;
}

.recipe-sidebar-link {
  color: #152039;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  text-align: center;
  line-height: 27px;
  display: block;
  width: 300px;
  height: 27px;
}

.recipe-sidebar-link:hover {
  color: white;
}

.recipe {
  margin: 0px 20px 0px 20px;
}

.recipe-heading {
  font-family: "Montserrat", sans-serif;
  color: #152039;
  background-color: #ffffff;
  text-align: left;
  margin: 0;
}

.recipe-text {
  text-align: left;
}

.comments-form {
  text-align: left;
}

.comments-form-text {
  font-family: "Montserrat", sans-serif;
  color: #152039;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
}

.comments-text {
  font-family: "Montserrat", sans-serif;
  color: #152039;
  text-align: left;
}

.comments-list {
  margin-top: 0px;
  margin-bottom: 16px;
}

.rating { 
  margin: 5px;
}

/* media query styles are only applied if the conditions are met */
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media all and (max-width: 600px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
  }

  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
